---
import Layout from "../layouts/Layout.astro";
import CharacterPopup from "../components/CharacterPopup.astro";
import { getCharacters } from "../proto/cool-game-web";
const characters = await getCharacters({
  isOnline: false,
  limit: 0,
  offset: 0
})
---

<script>
  const table = document.getElementById('rankings')

  enum TableHeads {
    Rank = 0,
    Name = 1,
    Lv = 2,
    Job = 3,
    Exp = 4,
    Fame = 5,
    Meso = 6,
    PlayTime = 7
  }

  const sortTable = (column) => {
    const rows = table.querySelectorAll(`tbody tr`);
    const sortedRows = Array.from(rows).sort((a, b) => {

      const cmpElementA = a.querySelectorAll(`td`)[column]
      const cmpElementB = b.querySelectorAll(`td`)[column]

      let cmpValueA: string | number = cmpElementA.textContent;
      let cmpValueB: string | number = cmpElementB.textContent;

      if (column == TableHeads.Rank ||
        column == TableHeads.Lv || 
        column == TableHeads.Exp || 
        column == TableHeads.Fame ||
        column == TableHeads.Meso || 
        column == TableHeads.PlayTime) {
        cmpValueA = Number(cmpElementA.getAttribute('data-number'))
        cmpValueB = Number(cmpElementB.getAttribute('data-number'))

        if (column != TableHeads.Rank) {
          if (cmpValueA > cmpValueB)
            return -1
          else if (cmpValueA < cmpValueB)
            return 1
          else
            return 0
        }

      }

      if (cmpValueA < cmpValueB)
          return -1
        else if (cmpValueA > cmpValueB)
          return 1
        else
          return 0
    });
    
    table.querySelector(`tbody`).append(...sortedRows);
    console.log('sorted by', column)
  }

  table.querySelectorAll(`th`).forEach((th, pos) => {
    const button = th.getElementsByTagName(`button`)[0];
    button && button.addEventListener(`click`, () => sortTable(pos));
  });
</script>
<Layout title="Cool Game 3 - Rankings">
  <main class="mt-12 pb-24">
    <section class="text-white">
      <h2 class="bg-white text-[#235877] rounded-md m-1 font-arial py-1 px-2 text-base flex gap-4 items-center justify-between max-w-3xl mx-auto">Total Characters:  
        <span class='level-no' style='filter: hue-rotate(175deg)'>
          {characters.length.toString().split('').map(num => <span class={`level-no-${num}`} />)}  
        </span>
      </h2>
      {
        characters && characters.length > 0 && (
          <table id="rankings" class="overflow-x-scroll mx-auto mt-8 text-sm md:text-xl">
            <thead>
              <tr>
                <th class="text-center font-bold px-4"><button type='button' class='text-center w-full hover:underline'>Overall Rank</button></th>
                <th class="text-left font-bold px-4"><button type='button' class='hover:underline'>Name</button></th>
                <th class="text-left font-bold px-4"><button type='button' class='hover:underline'>LV</button></th>
                <th class="text-left font-bold px-4"><button type='button' class='hover:underline'>Job</button></th>
                <th class="text-left font-bold px-4"><button type='button' class='hover:underline'>EXP</button></th>
                <th class="text-left font-bold px-4"><button type='button' class='hover:underline'>Fame</button></th>
                <th class="text-left font-bold px-4"><button type='button' class='hover:underline'>Meso</button></th>
                <th class="text-right font-bold px-4"><button type='button' class='hover:underline'>Play Time</button></th>
              </tr>
            </thead>
            <tbody>
              {characters.map((character) => {
                const {
                  Rank,
                  Name,
                  Level,
                  JobName,
                  Exp,
                  ExpRequired,
                  TotalPlayTime,
                  Meso,
                  Fame,
                } = character;
                const playTimeHrs = Math.floor(
                  TotalPlayTime / 1000 / (60 * 60)
                );

                return (
                  <tr class="relative group text-[rgba(255,255,255,0.75)] hover:text-white even:bg-[rgba(255,255,255,0.1)] hover:bg-[rgba(255,255,255,0.155)]">
                    <td class="rank text-center px-4 py-2" data-number={Rank}>#{Rank}</td>
                    <td class="text-left px-4 py-2 text-xs md:text-base font-arial">
                      <span class='text-[8px] sm:text-[12px] md:text-[16px] bg-[#5479c4] border-solid border-white border-2 shadow-[0px_0px_3px_rgba(0,0,0,.5)] px-3 py-1 rounded-md text-white'>
                        {Name}          
                      </span>
                      <CharacterPopup character={character} />
                    </td>
                    <td class='px-4' aria-label={`Level ${Level}`} data-number={Level}>
                      <span class='level-no'>
                        {Level.toString().split('').map(num => <span class={`level-no-${num}`} />)}  
                      </span>
                    </td>
                    <td class="text-left px-4 py-2 whitespace-nowrap">{JobName}</td>
                    <td class="text-left px-4 py-2 whitespace-nowrap" data-number={((Exp / ExpRequired) * 100).toFixed(2)}>
                      {((Exp / ExpRequired) * 100).toFixed(2)}%
                    </td>
                    <td class="text-left px-4 py-2 whitespace-nowrap" data-number={Fame}>{Fame}</td>
                    <td class="text-left px-4 py-2 whitespace-nowrap" data-number={Meso}>{Meso.toLocaleString()}</td>

                    <td class="text-right px-4 py-2 whitespace-nowrap" data-number={playTimeHrs}>
                      <time datetime={playTimeHrs.toString()}>
                        {playTimeHrs} hrs
                      </time>
                    </td>
                  </tr>
                );
              })}
            </tbody>
          </table>
        )
      }
    </section>
  </main>
</Layout>

<style lang='sass'>
  #rankings
    counter-reset: count

  #rankings tbody tr
    counter-increment: count 1

  #rankings .rank::before
    content: "#" counter(count, decimal)
    position: absolute
    left: -68px
    color: #5372ce
</style>