---
import Layout from "../layouts/Layout.astro";
import { Picture } from "@astrojs/image/components";
import Icon from "astro-icon";

import { CharacterModel } from "../models/character";

const getOnlineCharacters = async () => {
  const res = await fetch(`http://172.28.0.3:8081/characters/online`);

  if (!res.ok) {
    console.log("Failed to fetch online characters");
  }

  const onlineCharacters: CharacterModel[] = await res.json();

  return onlineCharacters;
};

const characters = await getOnlineCharacters();
---

<Layout title="Welcome to Cool Game 3">
  <main>
    <a href="/" aria-label="Go home">
      <Picture
        class="mx-auto logo"
        src="/logo.png"
        widths={[200, 400, 800]}
        aspectRatio="16:9"
        sizes="(max-width: 800px) 100vw, 800px"
        alt="Cool Game 3 Logotype"
      />
    </a>

    <nav class="w-full flex items-center gap-4 justify-center">
      <a
        href="/signup"
        class="flex items-center justify-center gap-3 text-xl register-btn mx-auto"
      >
        <Icon name="raphael:power" class="w-14 h-14 relative bottom-[2px]" />
        <svg
          id="sign-up-text"
          viewBox="0 0 210 80"
          xmlns="http://www.w3.org/2000/svg"
        >
          <text x="0" y="65"> Sign Up</text>
        </svg>
      </a>
    </nav>

    <section class="text-white text-center my-8 text-xl">
      <h2 class="text-4xl font-bold">Players Online: {characters.length}</h2>

      <table class="mx-auto mt-8 border-spacing-y-1 border-separate">
        <thead>
          <tr>
            <th class="text-left font-bold px-4">Name</th>
            <th class="text-left font-bold px-4">Level</th>
            <th class="text-left font-bold px-4">Job</th>
            <th class="text-left font-bold px-4">Map</th>
            <th class="text-left font-bold px-4">TotalPlayTime</th>
            <th class="text-left font-bold px-4">CreateDate</th>
          </tr>
        </thead>
        <tbody>
          {
            characters.map((character) => {
              const playTimeHrs = Math.floor(
                character.TotalPlayTime / 1000 / (60 * 60)
              );
              return (
                <tr>
                  <td class="text-left px-4">{character.Name}</td>
                  <td class="text-left px-4">{character.Level}</td>
                  <td class="text-left px-4">{character.Job}</td>
                  <td class="text-left px-4">{character.Map}</td>
                  <td class="text-right px-4"><time datetime={playTimeHrs.toString()}>{playTimeHrs} hrs</time></td>
                  <td class="text-left px-4">
                    {character.CreateDate.slice(0, 10)}
                  </td>
                </tr>
              );
            })
          }
        </tbody>
      </table>
    </section>
  </main>
</Layout>

<style is:global></style>
