---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";

import { CharacterModel } from "../types/character";

let onlineCharacters: CharacterModel[] = [];

const getOnlineCharacters = async () => {
  try {
    const res = await fetch(`${import.meta.env.SERVER_URL}/characters/online`);
    if (!res.ok) {
      console.log("Failed to fetch online characters");
    }

    const body = await res.json();
    onlineCharacters = body;
  } catch (err) {
    console.log("Failed to fetch online characters");
  }

  return onlineCharacters;
};

await getOnlineCharacters();
---

<Layout title="Welcome to Cool Game 3">
  <main class="pb-24">
    <Nav />

    {
      (onlineCharacters && onlineCharacters.length > 0) && (
        <section class="text-white text-center my-8 text-xl">
          <h2 class="text-4xl font-bold">
            Players Online: {onlineCharacters.length}
          </h2>

          <table class="mx-auto mt-8 border-spacing-y-1 border-separate">
            <thead>
              <tr>
                <th class="text-left font-bold px-4">Name</th>
                <th class="text-left font-bold px-4">LV</th>
                <th class="text-left font-bold px-4">Job</th>
                <th class="text-left font-bold px-4">EXP</th>
                <th class="text-left font-bold px-4">Map</th>
              </tr>
            </thead>
            <tbody>
              {onlineCharacters.map((character) => {
                  const {
                    Name,
                    Level,
                    JobName,
                    StreetName,
                    MapName,
                    Exp,
                    ExpRequired,
                  } = character;

                  return (
                    <tr>
                      <td class="text-left px-4">{Name}</td>
                      <td class="text-left px-4">{Level}</td>
                      <td class="text-left px-4">{JobName}</td>
                      <td class="text-left px-4">
                        {((Exp / ExpRequired) * 100).toFixed(2)}%
                      </td>
                      <td class="text-left px-4">
                        {StreetName + " - " + MapName}
                      </td>
                    </tr>
                  );
                })}
            </tbody>
          </table>
        </section>
      )
    }
  </main>
</Layout>

<style is:global></style>
