---
import Layout from "../layouts/Layout.astro";

import { CharacterModel } from "../types/character";
import CharacterPopup from "../components/CharacterPopup.astro";
import Footer from "../components/Footer.astro";

let onlineCharacters: CharacterModel[] = [];

const getOnlineCharacters = async () => {
  try {
    const res = await fetch(`${import.meta.env.SERVER_URL}/characters/online`);
    if (!res.ok) {
      console.log("Failed to fetch online characters");
    }

    const body = await res.json();
    onlineCharacters = body;
  } catch (err) {
    console.log("Failed to fetch online characters");
  }

  return onlineCharacters;
};

await getOnlineCharacters();
---

<Layout title="Cool Game 3">
  <main class='mt-12'>
    {
      onlineCharacters && onlineCharacters.length > 0 && (
        <section class="text-white text-center text-xl">
          <h2 class="text-xl md:text-2xl font-bold flex gap-4 items-center justify-center">Players Online:  
            <span class='level-no' style='filter: hue-rotate(94deg)'>
              {onlineCharacters.length.toString().split('').map(num => <span class={`level-no-${num}`} />)}  
            </span>
          </h2>
          <div class='flex flex-wrap gap-10 max-w-xl justify-center mx-auto mt-8'>
            {onlineCharacters.map(character => {
                const {
                  Name,
                  SkinColor,
                  Face,
                  Hair,
                } = character;

                return (
                <figure class='relative group grid justify-items-center items-end'>
                  <img
                    src={`https://maplestory.io/api/character/{itemId:${2000+ SkinColor},version:64},{itemId:${Face},version:64},{itemId:${Hair},version:64},{itemId:${12000+SkinColor},version:64}/stand1/animated?resize=1&renderMode=default&flipX=true`}
                    alt=""
                    loading="lazy"
                  />
                  <figcaption class="mt-2 bg-[#5479c4] border-solid border-white border-2 shadow-[0px_0px_3px_rgba(0,0,0,.5)] px-3 py-1 rounded-md text-white">
                    {Name}
                  </figcaption>
                  <CharacterPopup character={character} />
                </figure>
                )}
              )}
          </div>
        </section>
      )
    }
  </main>
  <Footer />
</Layout>