---
import Layout from "../layouts/Layout.astro";
import CharacterPopup from "../components/CharacterPopup.astro";
import Footer from "../components/Footer.astro";
import { getCharacters } from "../proto/cool-game-web";
const onlineCharacters = await getCharacters({
  isOnline: true,
  limit: 0,
  offset: 0
})
---

<Layout title="Cool Game 3">
  <main class='mt-12'>
    {
      onlineCharacters && onlineCharacters.length > 0 && (
        <section class="rounded-xl text-black text-center text-xl max-w-2xl bg-[#efefef] border-[#5c7e9e] pb-6 mx-auto border-2 border-solid outline-white outline-none outline-2 outline-offset-0">
          <h2 class="bg-white rounded-md m-1 font-arial py-1 px-2 text-base flex gap-4 items-center justify-between">Players Online
            <span class='level-no' style='filter: hue-rotate(94deg)'>
              {onlineCharacters.length.toString().split('').map(num => <span class={`level-no-${num}`} />)}  
            </span>
          </h2>
          <div class='flex flex-wrap gap-10 justify-center mx-auto mt-6'>
            {onlineCharacters.map(character => {
                const {
                  Name,
                  SkinColor,
                  Face,
                  Hair,
                  EquippedItems
                } = character;

                const equips = EquippedItems.map(itemId => `{itemId:${itemId},version:64}`).join(',')

                return (
                <figure class='relative group grid justify-items-center items-end'>
                  <img
                    src={`https://maplestory.io/api/character/{itemId:${2000+ SkinColor},version:64},{itemId:${Face},version:64},{itemId:${Hair},version:64},{itemId:${12000+SkinColor},version:64},${equips}/stand1/animated?resize=1&renderMode=default&flipX=true`}
                    alt=""
                    loading="lazy"
                  />
                  <figcaption class="text-white font-arial text-base mt-2 bg-[#5479c4] border-solid border-white border-2 shadow-[0px_0px_3px_rgba(0,0,0,.5)] px-3 py-1 rounded-md">
                    {Name}
                  </figcaption>
                  <CharacterPopup character={character} />
                </figure>
                )}
              )}
          </div>
        </section>
      )
    }
  </main>
  <Footer />
</Layout>