---
import Layout from "../layouts/Layout.astro";
import CharacterPopup from "../components/CharacterPopup.astro";
import Footer from "../components/Footer.astro";
import { getCharacters } from "../proto/cool-game-web";
const onlineCharacters = await getCharacters({
  isOnline: true,
  limit: 0,
  offset: 0
})
---

<Layout title="Cool Game 3">
  <main class='mt-12'>
    {
      onlineCharacters && onlineCharacters.length > 0 && (
        <section class="text-xl pb-6 max-w-5xl mx-auto">
          <h2 
            style='filter:hue-rotate(160deg)'
            class="level-no text-white font-bold rounded-md m-1 font-arial py-1 px-2 flex justify-center text-base">
            These gamers are online [{onlineCharacters.length.toString().split('').map(num => <span class={`level-no-${num}`} />)}]
          </h2>
          <div class='flex flex-wrap gap-5 justify-center mx-auto mt-6'>
            {onlineCharacters.map(character => {
              const {
                Name,
                SkinColor,
                Face,
                Hair,
                EquippedItems
              } = character;

              const equips = EquippedItems.map(itemId => `{itemId:${itemId},version:64}`).join(',')

              return (
                <figure class='relative group flex flex-col justify-end items-center hover:bg-[rgba(255,255,255,.25)] rounded-md transition-colors'>
                  <img
                    src={`https://maplestory.io/api/character/{itemId:${2000+ SkinColor},version:64},{itemId:${Face},version:64},{itemId:${Hair},version:64},{itemId:${12000+SkinColor},version:64},${equips}/stand1/animated?resize=1&renderMode=default&flipX=true`}
                    alt={`${Name}'s avatar'`}
                    loading="lazy"
                  />
                  <figcaption class="text-white font-arial text-sm mt-2 px-3 py-1 rounded-md">
                    {Name}
                  </figcaption>
                  <CharacterPopup character={character} />
                </figure>
                )}
              )}
          </div>
        </section>
      )
    }
  </main>
  <Footer />
</Layout>