---
import Layout from "../layouts/Layout.astro";

import { CharacterModel } from "../types/character";
import Nav from "../components/Nav.astro";
import CharacterPopup from "../components/CharacterPopup.astro";

const getRankings = async () => {
  let characters: CharacterModel[] = [];
  try {
    const res = await fetch(`${import.meta.env.SERVER_URL}/characters`);
    if (!res.ok) {
      console.log("Failed to fetch rankings");
    }

    characters = await res.json();
  } catch (err) {
    console.log("Failed to fetch rankings");
  }

  return characters;
};

const characters = await getRankings();
---

<Layout title="Cool Game 3 - Rankings">
  <main class="pb-24">
    <Nav />

    <section class="text-white text-center my-8 text-xl">
      <h2 class="text-4xl font-bold">Total Characters: {characters.length}</h2>
      {
        characters && characters.length > 0 && (
          <table class="mx-auto mt-8">
            <thead>
              <tr>
                <th class="text-left font-bold px-4" />
                <th class="text-left font-bold px-4">Name</th>
                <th class="text-left font-bold px-4">LV</th>
                <th class="text-left font-bold px-4">Job</th>
                <th class="text-left font-bold px-4">EXP</th>
                <th class="text-left font-bold px-4">Fame</th>
                <th class="text-left font-bold px-4">Meso</th>
                <th class="text-right font-bold px-4">Play Time</th>
              </tr>
            </thead>
            <tbody>
              {characters.map((character) => {
                const {
                  Rank,
                  Name,
                  Level,
                  JobName,
                  Exp,
                  ExpRequired,
                  TotalPlayTime,
                  Meso,
                  Fame,
                } = character;
                const playTimeHrs = Math.floor(
                  TotalPlayTime / 1000 / (60 * 60)
                );

                return (
                  <tr class="relative group even:bg-[rgba(255,255,255,0.05)] hover:bg-[rgba(255,255,255,0.125)]">
                    <td class="text-right px-4 py-2">#{Rank}</td>
                    <td class="text-left px-4 py-2 text-base font-arial">
                      <span class='bg-[#5479c4] border-solid border-white border-2 shadow-[0px_0px_3px_rgba(0,0,0,.5)] px-3 py-1 rounded-md text-white'>
                        {Name}          
                      </span>
                      <CharacterPopup character={character} />
                    </td>
                    <td class="text-left px-4 py-2 font-bold text-base font-arial">
                      {Level.toString()
                        .split("")
                        .map((num: string) => (
                          <span class={`level-no level-no-${num}`} />
                        ))}
                    </td>
                    <td class="text-left px-4 py-2">{JobName}</td>
                    <td class="text-left px-4 py-2">
                      {((Exp / ExpRequired) * 100).toFixed(2)}%
                    </td>
                    <td class="text-left px-4 py-2">{Fame}</td>
                    <td class="text-left px-4 py-2">{Meso.toLocaleString()}</td>

                    <td class="text-right px-4 py-2">
                      <time datetime={playTimeHrs.toString()}>
                        {playTimeHrs} hrs
                      </time>
                    </td>
                  </tr>
                );
              })}
            </tbody>
          </table>
        )
      }
    </section>
  </main>
</Layout>
